{{ define "main_class"}}{{ end}}

{{ define "main_content" }}
    <div id="posts" class="posts-expand">
        {{ if eq .Data.Plural  "categories" }}
            <div class="category-all-page">
                <div class="category-all-title">
                    {{ i18n "StatsCats" . }}
                </div>
                <div class="category-all">
                    <ul class="category-list">
                        {{ range $name, $items := .Site.Taxonomies.categories }}
                            <li class="category-list-item">
                                <a class="category-list-link" href="/categories/{{ $name | urlize | lower }}">{{ $name }}</a>
                                <span class="category-list-count">
                                    <sup>{{ len $items }}</sup>
                                </span>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        {{ end }}
        {{ if eq .Data.Plural  "tags" }}
            <div class="tag-cloud">
                <div class="tag-cloud-title">
                    {{ i18n "StatsTags" . }}
                </div>
                <div class="tag-cloud-tags">
                    {{ $fontSmall := 0.7 }}
                    {{ $fontBig := 2 }}
                    {{ $fontDelta := sub $fontBig $fontSmall }}
                    {{ $min := len (index site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
                    {{ $max := add (len (index site.Taxonomies.tags.ByCount 0).Pages) 1 }}
                    {{ $delta := sub $max $min }}
                    {{ $fontStep := div $fontDelta $delta }}
                    {{ range $name, $taxonomy := site.Taxonomies.tags }}
                        {{ $tagCount := len $taxonomy.Pages }}
                        {{ $weight := div (sub (math.Log $tagCount) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
                        {{ $fontSize := add $fontSmall (mul (sub $fontBig $fontSmall) $weight) }}
                        <a href="{{ .Page.RelPermalink }}" style="font-size:{{ $fontSize }}rem">
                            {{ .Page.Title }}
                            <sup>{{ $tagCount }}</sup>
                        </a>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </div>
{{ end }}